@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main>
<div class="container" style="min-height: calc(100vh - 56px);display: flex;flex-direction: column;justify-content: center;align-content: center">
<div class="d-grid gap-2">
  <h2 style="width: 140px;margin: 4px auto;"><b>Painel de Controle</b></h2>
  
  <a class="btn btn-primary" type="button" asp-controller="Destinos" asp-action="Index" style="width: 140px;margin: 4px auto;">Destinos</a>
  <a class="btn btn-primary" type="button" asp-controller="Clientes" asp-action="Index" style="width: 140px;margin: 4px auto;">Clientes</a>
  <a class="btn btn-primary" type="button" asp-controller="Compras" asp-action="Index" style="width: 140px;margin: 4px auto;">Compras</a>
  <a class="btn btn-primary" type="button" asp-controller="Atendimento" asp-action="Index" style="width: 140px;margin: 4px auto;">Tickets de Suporte</a>
</div>
</div>
</main>
<