@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <main>
    <section class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="margin: 50px;">Promoções</h2>
                <p class="text-center">Confira aqui as melhores promoções da viajamar. Aproveite os melhores preços para sua próxima viagem.</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <figure class="figure"><img class="img-fluid figure-img" src="~/img/porto de galinhas.jpg"></figure>
                        <h3 class="name">Porto de Galinhas</h3><i class="fa fa-plane" style="height: -6px;width: 39.5781px;margin: -16px;padding: 0px;border-color: var(--bs-indigo);"></i>
                        <p class="description">Passagens a partir de&nbsp;<br>R$ 899</p><a class="learn-more" asp-action="Destinos">Saiba mais »</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <figure class="figure"></figure>
                        <figure class="figure"><img class="img-fluid figure-img" src="~/img/curitiba.jpg"></figure>
                        <h3 class="name">Curitiba</h3><i class="fa fa-plane"></i>
                        <p class="description">Passagens a partir de&nbsp;<br>R$ 499<br></p><a class="learn-more" asp-action="Destinos">Saiba mais »</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <figure class="figure"></figure>
                        <figure class="figure"><img class="img-fluid figure-img" src="~/img/jericoacoara.jpg" style="height: 157.016px;"></figure>
                        <h3 class="name">Jericoacoara</h3><i class="fa fa-plane"></i><br>
                        <p class="description">Passagens a partir de&nbsp;<br>R$ 999<br><br></p><a class="learn-more" asp-action="Destinos">Saiba mais »</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <figure class="figure"><img class="img-fluid figure-img" src="~/img/recife2.jpg" style="height: 294 px;padding: -2px;width: 304.984px;"></figure>
                        <h3 class="name">Recife</h3><i class="fa fa-plane"></i>
                        <p class="description">Passagens a partir de&nbsp;<br>R$ 899<br></p><a class="learn-more" asp-action="Destinos">Saiba mais »</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <figure class="figure"><img class="img-fluid figure-img" src="~/img/lugares-que-voce-precisa-ir-em-buenos-aires-dani-noce-imagem-destaque-960x625.jpg" style="margin: 0px;width: 383.984px;height: 191.625px;"></figure>
                        <h3 class="name">Buenos Aires</h3><i class="fa fa-plane"></i>
                        <p class="description">Passagens a partir de&nbsp;<br>R$ 1399</p><a class="learn-more" asp-action="Destinos">Saiba mais »</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <figure class="figure"><img class="img-fluid figure-img" src="~/img/ouro preto.jpg" style="height: 181.984px;"></figure>
                        <h3 class="name">Ouro Preto</h3><i class="fa fa-plane"></i>
                        <p class="description">Passagens a partir de&nbsp;<br>R$699</p><a class="learn-more" asp-action="Destinos">Saiba mais »</a>
                    </div>
                </div>
            </div>
        </div>
        </section>
    </main>
